h1
{
    font-weight: bold;
    color: rgba(150,25,150,0.9);
}
h2
{
    color: rgba(200,25,200,0.7);
}
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p
{
    background-color: hsl(69, 85%, 50%);
}
img
{
    height: 300px;
    width: auto;
}